@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
}

body {
    background-image: radial-gradient(ellipse at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#container {
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1366px;
    height: 100%;
    margin: 0 auto;
}

#container header {
    width: calc(100vw / 2);
    min-width: calc(1200px / 2);
    padding: 2em;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid hsl(217, 16%, 45%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title-section {
    display: flex;
    width: 150px;
    color: white;
    font-family: 800;
}

header .score-section {
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 1em 3em;
}

header .score-section p {
    color: hsl(229, 64%, 46%);
    font-size: 1.2em;
    font-weight: 700;
}

header .score-section h1 {
    text-align: center;
}

#user-score, #host-score {
    color: hsl(229, 25%, 31%);
    font-size: 4em;
    font-weight: 800;
}

#game {
    display: flex;
    justify-content: center;
    gap: 7em;
    padding: 5em 0;
    flex-grow: 1;
}

.item-block {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto 0;
}

.item-block h3 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.item-block.round-info h4{
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    color: white;
}

.item-block.round-info button {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    padding: 16px 64px;
    color: hsl(229, 64%, 46%);
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: hsl(349, 71%, 52%);
    }
}

.item {
    background-color: rgb(233, 233, 233);
    outline: 25px solid transparent;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.item-empty {
    width: 220px;
    height: 220px;
    background-color: hsl(237, 49%, 15%);
    border-radius: 50%;
    margin: auto;
    outline: 25px solid transparent;
}

.item svg {
    scale: 1.7;
}

#paper {
    outline-color: hsl(230, 89%, 62%);
}

#scissors {
    outline-color: hsl(39, 89%, 49%);
}

#rock {
    outline-color: hsl(349, 71%, 52%);
}